---
layout: page
---
{%- if site.posts.size > 0 -%}
<ul class="posts">
	{%- for post in site.posts -%}
	<li ><a href="{{ post.url | relative_url }}">		
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		<div class="post-meta">			
				<h2 class="post-title">{{ post.title | escape }}</h2>			
			<div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
		</div>
		<div class="post">
			{%- if site.show_excerpts -%}
			{{ post.excerpt }}
			{%- endif -%}
		</div>
	</a></li>
	{%- endfor -%}
	{%- if site.post.url != "https://Neroal.github.io/about"}
		<div>
			<font size=10>網站訪客數</font>
			<a href="https://www.hitwebcounter.com" target="_blank">
			<img src="https://hitwebcounter.com/counter/counter.php?page=7208883&style=0024&nbdigits=5&type=page&initCount=0" title="User Stats" Alt="webcounterwebsite"   border="0" >
			</a>               
		</div>
	{%- endif -%}
</ul>
{%- endif -%}

