<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>	
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
		
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}	
	</header>
	<main>
		<div class="container">			
			{%- if site.url != "https://neroal.nctu.me/about/" -%}
				<div>
				<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- ad2 -->
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-8596113105925438"
					 data-ad-slot="7451102421"
					 data-ad-format="auto"
					 data-full-width-responsive="true"></ins>
				<script>
					 (adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				</div>
			{%- endif -%}
			{{ content }}
			<div>
				<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- add1 -->
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-8596113105925438"
					 data-ad-slot="3908470905"
					 data-ad-format="auto"
					 data-full-width-responsive="true"></ins>
				<script>
					 (adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
		
	</main>	
	{%- include footer.html -%}
</body>
</html>
