<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>	
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
		
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}	
	</header>
	<main>
		<div class="container">
			{{ content }}
		</div>
		
		
	</main>	
	{%- include footer.html -%}
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-8596113105925438",
		enable_page_level_ads: true
	  });
	</script>
</body>
</html>
