<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
		
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}	
	</header>
	<main>
		<div class="container">
			{{ content }}
		</div>
		
		
	</main>
	
	<div>
		<font>網站訪客數:</font>
		<a href="https://www.hitwebcounter.com" target="_blank">
		<img src="https://hitwebcounter.com/counter/counter.php?page=7208883&style=0024&nbdigits=5&type=page&initCount=0" title="User Stats" Alt="webcounterwebsite"   border="0" >
		</a>               
	</div>
	
</body>
</html>